.Footer {
  font-family: 'Courier New', Courier, monospace;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 10px;
  background-color: #17a2b8;
  text-align: center;
  color: white;
}
