@import "../../variables.scss";
@import "../../typography.scss";

.test-component {
  background-color: var(--background);
  color: var(--font-color);
  border: 1px solid $harvey-black;
  padding: 16px;
  width: 360px;
  text-align: center;

  .heading {
    @include heading;
  }
}
