.PhotoUpload {
  font-family: 'Courier New', Courier, monospace;
}

.LimitWidth {
  width: 500px;
  margin: auto;
}

.Preview {
  max-width: 500px;
  display: block;
  height: 100%;
  width: auto;
}

.Submit {
  width: 100%;
}
